@charset "UTF-8";
html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
/* 登录页 */
.lt-bg {
    background-color: #222d32;
}
.mt-150 {
    margin-top: 150px;
}